<div class="container">

    <div class="descript">
        <h1>Picture</h1>
        <p>Camera: Lumix GF9</p>
        <p class="len1">Len: Lumix 25 mm f1.4</p>
        <p class="len2">Yongnuo 42.5 mm f1.7</p>
        <p class="loc1">Location: Little Hut Cafe</p>  
        <p class="loc2">Yimwaan Cafe</p>
    </div>
    
    <div class="slideshow middle">

        <div class="slides">
            <input type="radio" name="radioInput" id="r1" checked>
            <input type="radio" name="radioInput" id="r2">
            <input type="radio" name="radioInput" id="r3">
            <div class="slide img1">
                <img src="assets/images/green_tea.jpg">
            </div>
            <div class="slide img2">
                <img src="assets/images/mucha.jpg">
            </div>
            <div class="slide img3">
                <img src="assets/images/purple_tea.jpg">
            </div>
        </div>

        <div class="navigation">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
        </div>

    </div>
</div>
